<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.qiqu.mapper.RegistMapper">
    <insert id="regist" parameterType="com.qiqu.entity.LoginUser">
        insert into registuser value (0,#{zhanghao},#{password},#{renzheng},null,#{uId})
    </insert>
</mapper>